/* Dropdown styles */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f2937; /* gray-900 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #374151; /* gray-700 */
}
